header {
    padding: 2rem $gutter;
    
    h1{
        font-size: 1.6rem;
        margin-top: 1rem;
    }
    h2 {
        font-size: 1.3rem;
    }

}

div.produceGallery figure {
    flex-basis: 28%;

}

nav{
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        li a {
            padding: 0.5rem;
        }
    }

    li.active a{
        color: $primaryColor;
    }
}
